button {
  background: #00d1b2;
  border: transparent;
  border-radius: 10px;
  color: #FFF;
  font-size: 1em;
  height: 2.2em;
  margin : 5px;
  text-align: center;
  cursor: pointer;
}

nav {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 60px;
  justify-content: space-around;
}

nav a {
  color: #000;
  font-size: 1.25em;
  font-weight: bold;
  text-decoration: none;
}

.main-container {
  padding: 20px 80px;
}

.person-container span {
  font-size: 1.2em;
}
